{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>List of Image Galleries</h1>
	
	<a href="{% static 'home/khushal-sahni-master/index.html' %}"> Khushal Sahni</a><br>
	<a href="{% static 'home/Ujjwal-Kumar-master/image gallery/index.html' %}"> Ujjawal Kumar</a><br>
	<a href="{% static 'home/prityush-master/index.html' %}"> Prityush</a><br>
	<a href="{% static 'home/akshat-resp-master/responsive.html' %}"> Akshat Goyle</a><br>
	<a href="{% static 'home/Ronit_Raj-master/ronit/index.html' %}">Ronit Raj</a><br>
	<a href="{% static 'home/Priyanshu-Rai-master/Gallery.html' %}"> Priyanshu Rai</a><br>
	<a href="{% static 'home/gallery-master/home.html' %}"> Rupak</a><br>
	<a href="{% static 'home/Abhijeet-Kumar-Singh-master/img gallery/image1.html' %}"> Abhijeet Kumar Singh</a><br>
	<a href="{% static 'home/Jainag/image_gallery.html' %}"> Jainag</a><br>
	<a href="{% static 'home/Rajeshwar/kashiyatra.html' %}"> Rajeshwar</a><br>
	<a href="{% static 'home/harshit-master/image gallery/index.html' %}"> Harshit Sachan</a><br>
	<a href="{% static 'home/Aditya-Kumar-SIngh-master/kashi_yatra.html' %}"> Aditya Kumar Singh</a><br>
	<a href="{% static 'home/image-master/index.html' %}"> Yogesh</a><br>
	<a href="{% static 'home/Shivesh-Dixit-master/62.html' %}"> Shivesh Dixit</a><br>
	<a href="{% static 'home/Image-gallery-master/index.html' %}"> Sagardeep</a><br>
	<a href="{% static 'home/Aditya-Prakash-Gupta-master/index.html' %}"> Aditya Prakash Gupta</a><br>
	<a href="{% static 'home/yashrajbharti/index.html' %}"> Yashraj Bharti</a><br>
	<a href="{% static 'home/bikash-master/KYTech.html' %}"> Bikash</a><br>


</body>
</html>