h2{
    text-align: center;
}

.card{
    display: inline-block;
    margin: 20px
}
.container{
    text-align: center
}
.footer{
    background-color: #e9ecef;
    padding: 2rem;
    text-align: center;
}